# Excluir archivos de configuración y variables de entorno
.env

# Excluir archivos generados por Python
__pycache__/
*.pyc
*.pyo

# Excluir archivos de datos generales
*.csv
*.pkl

# Incluir archivos específicos
!df_api.csv
!models_cluster.pkl
!df_cluster_ST.pkl

# Excluir archivos específicos de la API
checks.py
api_web.py
api_local.py

# Excluir las carpetas 'data' y 'scripts'
data/
scripts/

# Excluir archivos del sistema
.DS_Store
